# Ansible
*.retry

# Secrets
*.secret
*.secrets
secrets/
vault-password-file

# Certificates / private keys
*.key
*.pem
*.p12
*.pfx
*.crt
certs/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ansible Inventory
hosts