{% for certificate_name in certificates %}
server {
    listen 80;
    server_name {{ certificate_name }}.{{ domain_fqdn }};

    location /.well-known/acme-challenge/ {
        root {{ acme_webroot }};
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
{% endfor %}