dn: {{ ldap_config_managed_device_schema_dn }}
changetype: modify
add: olcAttributeTypes
olcAttributeTypes: ( 1.3.6.1.4.1.66636.1.1.2.5
  NAME 'deviceCertificate'
  DESC 'A certificate issued to the device: serial number in hex and expiry as GeneralizedTime, separated by a space'
  EQUALITY caseIgnoreMatch
  SUBSTR caseIgnoreSubstringsMatch
  SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )
-
replace: olcObjectClasses
olcObjectClasses: ( 1.3.6.1.4.1.66636.1.1.1.1
  NAME 'managedDevice'
  DESC 'Managed device with lifecycle metadata and network authorisation'
  SUP top
  AUXILIARY
  MAY ( deviceId $ deviceType $ deviceDisabled $ deviceZone $ deviceCertificate ) )
