{
  "root": "{{ intermediate_ca_certs_dir }}/root_ca.crt",
  "crt": "{{ intermediate_ca_certs_dir }}/intermediate_ca.crt",
  "key": "{{ intermediate_ca_secrets_dir }}/intermediate_ca_key",
  "address": "{{ intermediate_ca_address }}",
  "dnsNames": [
    "{{ intermediate_ca_dns_name }}"
  ],
  "db": {
    "type": "{{ intermediate_ca_db_type }}",
    "dataSource": "{{ intermediate_ca_db_path }}",
    "badgerFileLoadingMode": "{{ intermediate_ca_db_file_loading_mode }}"
  },
  "authority": {
    "policy": {
      "x509": {
        "allow": {
          "dns": [
            "*.{{ domain_fqdn }}",
            "*.{{ device_domain }}"
          ]
        },
        "allowWildcardNames": false
      }
    },
    "provisioners": [
      {
        "type": "ACME",
        "name": "ACME",
        "claims": {
          "minTLSCertDuration": "{{ intermediate_ca_acme_min_tls_cert_duration }}",
          "maxTLSCertDuration": "{{ intermediate_ca_acme_max_tls_cert_duration }}",
          "defaultTLSCertDuration": "{{ intermediate_ca_acme_default_tls_cert_duration }}"
        }
      },
      {
        "type": "JWK",
        "name": "{{ device_provisioner_name }}",
        "key": {{ intermediate_ca_device_provisioner_public_key | to_json }},
        "claims": {
          "minTLSCertDuration": "{{ intermediate_ca_device_min_cert_duration }}",
          "maxTLSCertDuration": "{{ intermediate_ca_device_max_cert_duration }}",
          "defaultTLSCertDuration": "{{ intermediate_ca_device_default_cert_duration }}",
          "disableRenewal": false
        },
        "options": {
          "x509": {
            "templateFile": "{{ intermediate_ca_device_template }}"
          }
        }
      }
    ]
  }
}